img{
    width: 500px;
    height: 400px;
 }
    #slideshow-container {
        position:relative;
    }
    #slideshow-container img.slides{
        position:absolute;
        top: 150px;
        left:400px;
        display:none;
    }
    button {

        position:absolute;
        top: 570px;
        left:600px;
    }